<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Red</key>
		<integer>255</integer>
		<key>Green</key>
		<integer>255</integer>
		<key>Blue</key>
		<integer>255</integer>
	</dict>
	<dict>
		<key>Red</key>
		<integer>237</integer>
		<key>Green</key>
		<integer>151</integer>
		<key>Blue</key>
		<integer>151</integer>
	</dict>
	<dict>
		<key>Red</key>
		<integer>232</integer>
		<key>Green</key>
		<integer>103</integer>
		<key>Blue</key>
		<integer>103</integer>
	</dict>
	<dict>
		<key>Red</key>
		<integer>225</integer>
		<key>Green</key>
		<integer>66</integer>
		<key>Blue</key>
		<integer>66</integer>
	</dict>
	<dict>
		<key>Red</key>
		<integer>228</integer>
		<key>Green</key>
		<integer>0</integer>
		<key>Blue</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>Red</key>
		<integer>159</integer>
		<key>Green</key>
		<integer>22</integer>
		<key>Blue</key>
		<integer>22</integer>
	</dict>
	<dict>
		<key>Red</key>
		<integer>114</integer>
		<key>Green</key>
		<integer>0</integer>
		<key>Blue</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>Red</key>
		<integer>255</integer>
		<key>Green</key>
		<integer>250</integer>
		<key>Blue</key>
		<integer>189</integer>
	</dict>
	<dict>
		<key>Red</key>
		<integer>239</integer>
		<key>Green</key>
		<integer>230</integer>
		<key>Blue</key>
		<integer>117</integer>
	</dict>
	<dict>
		<key>Red</key>
		<integer>226</integer>
		<key>Green</key>
		<integer>215</integer>
		<key>Blue</key>
		<integer>78</integer>
	</dict>
	<dict>
		<key>Red</key>
		<integer>199</integer>
		<key>Green</key>
		<integer>187</integer>
		<key>Blue</key>
		<integer>41</integer>
	</dict>
	<dict>
		<key>Red</key>
		<integer>168</integer>
		<key>Green</key>
		<integer>157</integer>
		<key>Blue</key>
		<integer>20</integer>
	</dict>
	<dict>
		<key>Red</key>
		<integer>122</integer>
		<key>Green</key>
		<integer>114</integer>
		<key>Blue</key>
		<integer>11</integer>
	</dict>
	<dict>
		<key>Red</key>
		<integer>114</integer>
		<key>Green</key>
		<integer>205</integer>
		<key>Blue</key>
		<integer>93</integer>
	</dict>
	<dict>
		<key>Red</key>
		<integer>85</integer>
		<key>Green</key>
		<integer>212</integer>
		<key>Blue</key>
		<integer>56</integer>
	</dict>
	<dict>
		<key>Red</key>
		<integer>21</integer>
		<key>Green</key>
		<integer>180</integer>
		<key>Blue</key>
		<integer>18</integer>
	</dict>
	<dict>
		<key>Red</key>
		<integer>20</integer>
		<key>Green</key>
		<integer>135</integer>
		<key>Blue</key>
		<integer>47</integer>
	</dict>
	<dict>
		<key>Red</key>
		<integer>49</integer>
		<key>Green</key>
		<integer>198</integer>
		<key>Blue</key>
		<integer>130</integer>
	</dict>
	<dict>
		<key>Red</key>
		<integer>35</integer>
		<key>Green</key>
		<integer>168</integer>
		<key>Blue</key>
		<integer>138</integer>
	</dict>
	<dict>
		<key>Red</key>
		<integer>2</integer>
		<key>Green</key>
		<integer>125</integer>
		<key>Blue</key>
		<integer>97</integer>
	</dict>
	<dict>
		<key>Red</key>
		<integer>147</integer>
		<key>Green</key>
		<integer>217</integer>
		<key>Blue</key>
		<integer>237</integer>
	</dict>
	<dict>
		<key>Red</key>
		<integer>91</integer>
		<key>Green</key>
		<integer>198</integer>
		<key>Blue</key>
		<integer>228</integer>
	</dict>
	<dict>
		<key>Red</key>
		<integer>21</integer>
		<key>Green</key>
		<integer>169</integer>
		<key>Blue</key>
		<integer>210</integer>
	</dict>
	<dict>
		<key>Red</key>
		<integer>43</integer>
		<key>Green</key>
		<integer>116</integer>
		<key>Blue</key>
		<integer>198</integer>
	</dict>
	<dict>
		<key>Red</key>
		<integer>10</integer>
		<key>Green</key>
		<integer>76</integer>
		<key>Blue</key>
		<integer>157</integer>
	</dict>
	<dict>
		<key>Red</key>
		<integer>23</integer>
		<key>Green</key>
		<integer>31</integer>
		<key>Blue</key>
		<integer>191</integer>
	</dict>
	<dict>
		<key>Red</key>
		<integer>8</integer>
		<key>Green</key>
		<integer>13</integer>
		<key>Blue</key>
		<integer>129</integer>
	</dict>
	<dict>
		<key>Red</key>
		<integer>188</integer>
		<key>Green</key>
		<integer>130</integer>
		<key>Blue</key>
		<integer>237</integer>
	</dict>
	<dict>
		<key>Red</key>
		<integer>163</integer>
		<key>Green</key>
		<integer>84</integer>
		<key>Blue</key>
		<integer>230</integer>
	</dict>
	<dict>
		<key>Red</key>
		<integer>132</integer>
		<key>Green</key>
		<integer>38</integer>
		<key>Blue</key>
		<integer>212</integer>
	</dict>
	<dict>
		<key>Red</key>
		<integer>121</integer>
		<key>Green</key>
		<integer>11</integer>
		<key>Blue</key>
		<integer>167</integer>
	</dict>
	<dict>
		<key>Red</key>
		<integer>236</integer>
		<key>Green</key>
		<integer>82</integer>
		<key>Blue</key>
		<integer>133</integer>
	</dict>
	<dict>
		<key>Red</key>
		<integer>236</integer>
		<key>Green</key>
		<integer>45</integer>
		<key>Blue</key>
		<integer>95</integer>
	</dict>
	<dict>
		<key>Red</key>
		<integer>204</integer>
		<key>Green</key>
		<integer>9</integer>
		<key>Blue</key>
		<integer>60</integer>
	</dict>
	<dict>
		<key>Red</key>
		<integer>0</integer>
		<key>Green</key>
		<integer>0</integer>
		<key>Blue</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>Red</key>
		<integer>215</integer>
		<key>Green</key>
		<integer>215</integer>
		<key>Blue</key>
		<integer>215</integer>
	</dict>
	<dict>
		<key>Red</key>
		<integer>169</integer>
		<key>Green</key>
		<integer>169</integer>
		<key>Blue</key>
		<integer>169</integer>
	</dict>
	<dict>
		<key>Red</key>
		<integer>122</integer>
		<key>Green</key>
		<integer>122</integer>
		<key>Blue</key>
		<integer>122</integer>
	</dict>
</array>
</plist>
